* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo {
    height: 15%;
    width: 15%;
    border-radius: 100px;
    justify-content: flex-start;
}

.back {
    background-image: url(Flyingsquid.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
}

.box1 {
    margin-right: 10px;
    width: 110px;
    height: 38px;
    top: 56px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.466);
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    justify-content: flex-end;
}

.box1:hover {
    color: #000000;
    background-color: #ffffff;
}

.box2 {
    margin-right: 0px;
    width: 110px;
    height: 38px;
    top: 56px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.466);
    border: 2px solid white;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 50px;
}

.box2:hover {
    color: #000000;
    background-color: #ffffff;

}

header {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

.gd {
    justify-content: center;
    margin: auto;
    color: #ffffff;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

body {
    margin: 0px;
    padding: 0px;
    /* background: url('back.mp4'); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

.greet {
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}

.greet1 {
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 55px;
}

.welcome {
    font: "retroking";
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    color: white;
    font-weight: 500;
    position: relative;
}

.glad {
    position: absolute;
    color: white;
    font-size: 23px;

}

.fullgreet {
    padding-top: 20vh;
}

.hire {
    margin-top: 55px;
    width: 110px;
    height: 38px;
    top: 56px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background: linear-gradient(to right, #5F5BE5, #E858FF);
    border: 0px solid white;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 50px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.hire:hover {
    color: #000000;
    background: #ffc95c;
}

.arrow {
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 229px;
    width: 100px;
    padding-bottom: 24px;
}

.icons {
    background-color: #ffffff;
    /* display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 58px; */
    padding-top: 66px;
}

.icons>img {
    width: 86%;
    height: 3%;
    padding: 5% 7%;
}

.skills {
    font-size: 35px;
    padding-left: 7%;
    font-weight: 600;
}

.image1 {
    width: 215px;
}

.expbtn {
    margin-right: 0px;
    width: 110px;
    height: 38px;
    top: 56px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background: #BABFFF;
    border: 0px solid rgb(167, 42, 42);
    cursor: pointer;
    color: #31327A;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
}

.expbtn:hover {
    color: #BABFFF;
    background: #31327A;
}

.exp1 {
    font-size: 35px;
    font-weight: 800;
}

.exp2 {
    font-size: 20px;
    gap: 2px;

}

.col1 {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.exp {
    padding-left: 0px;
    display: inline flex;
    justify-content: flex-start;
    align-items: center;
    margin: 42px;
    margin-right: 0px;
    margin-top: 27px;
}

.image2 {
    width: 188px;
}

.seasons {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 42px; */
    margin-right: 0px;
    margin-top: 77px;
    font-size: 35px;
    font-weight: 800;
    /* align-items: center; */
}

.seasons>img {
    margin-top: 0px;
    width: 33%;
    padding: 10px;
}

.about {
    text-align: center;
    padding-left: 0px;
    padding-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-top: 27px;
    font-size: 20px;
    font-weight: 500;
}

.social>a {
    height: 3%;
    width: 0% padding: 3%;

}

.social>img {
    width: 15%;
}

#insta {
    width: 45px;
    /* margin: 35px; */
}

#face {
    width: 45px;
    /* margin: 35px; */
}

#tweet {
    width: 45px;
    /* margin: 35px; */
}

#you {
    width: 45px;
    /* margin: 35px; */
}

.social {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    padding-bottom: 7%;
}